@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f3c614;
  --secondary-color: #f7d94b;
  --primary-color-opacity: rgba(243, 198, 20, 0.3);
  --comment-bg: #ffffff;
  --textarea-bg: #f6f8fa;
  --comment-border: #e0e0e0;
}

body {
  @apply w-full h-dvh;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

.input {
  @apply w-full border border-black rounded-md p-2 focus:outline-primary;
}

* {
  transition: background 0.1s ease-in-out;
}
