@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f3c614;
  --secondary-color: #353535;
  --comment-bg: #ffffff;
  --textarea-bg: #f6f8fa;
  --comment-border: #e0e0e0;
}

body {
  @apply w-full h-dvh;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}
